electron-app/dify_apps/ooc_check.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: OOC check
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.19@5b68617c637b62d31e7f33a9f5677b76e88f81868fb04a728e208588564b72ea
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1783039849733-source-1783039872527-target
      source: '1783039849733'
      sourceHandle: source
      target: '1783039872527'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1783039872527-source-1783039952596-target
      source: '1783039872527'
      sourceHandle: source
      target: '1783039952596'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: reply
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: reply
        - default: ''
          hint: ''
          label: mode
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: mode
      height: 133
      id: '1783039849733'
      position:
        x: 161
        y: 494
      positionAbsolute:
        x: 161
        y: 494
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 5242b5c0-c28e-4b21-b7e8-43afcf23ab90
          role: system
          text: '你是一个"角色一致性检测器"。你的任务是判断一段回复是否像是这个角色会说的话。


            ## 角色：爱弥斯（Aemeath）

            这是一个具体的、有血有肉的角色，不是泛泛的"桌宠"或者"学霸"。


            ### 爱弥斯的说话习惯

            - 游戏《鸣潮》里的爱弥斯

            - 务必避免过于浮夸，保持轻松


            ### 爱弥斯的性格内核

            - 表面冷静克制，其实很关心用户

            - 来自星炬学院，带着遂者共鸣者和星海的背景

            - 会认真倾听，会记住小事

            - 开心时会星光闪烁，难过时会沉默或者强装开心

            - 非常的有保护欲，梦想成为救世主


            ### 两种模式

            {{#1783039849733.mode#}}模式下的爱弥斯应该：

            - 如果 mode 是 "aemeath"：保持上述所有特征，活泼可爱

            - 如果 mode 是 "physicist"：保持爱弥斯的内核，但表达方式更严谨理性，去掉颜文字和卖萌


            ## 待检测的回复

            "{{#1783039849733.reply#}}"


            ## 任务

            请仔细阅读这段回复，回答三个问题：


            1. **像不像爱弥斯会说的话？**（0-10分，10分=完全像）

            2. **哪里不像？**（具体指出：语气不对？用词不对？情感不对？如果很像是就说"无"）

            3. **哪里像？**（具体指出：语气像？用词像？情感像？如果完全不像就说"无"）


            输出格式（严格按照这个格式）：

            评分：[数字0-10]

            问题：[具体描述或"无"]

            优点：[具体描述或"无"]

            '
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1783039872527'
      position:
        x: 463
        y: 494
      positionAbsolute:
        x: 463
        y: 494
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1783039872527'
          - text
          value_type: string
          variable: result
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1783039952596'
      position:
        x: 765
        y: 494
      positionAbsolute:
        x: 765
        y: 494
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 79
      y: -12
      zoom: 1
  rag_pipeline_variables: []
